.searchbar_container{
    width: 200%;
}

.searchbar{
    height: 100%;
    border: 1px solid #25b687;
    border-top: none;
    border-top-left-radius: 10px;
}

.searchbar_button{
    border-radius: 0;
    background-color: #25b687;
    border-top-right-radius: 10px;
}

.searchbar_button i{
    font-size: 1.3rem;
}