button{ 
    border: none;
    position: relative;
}

.header{
    display: flex;
    flex-direction: row;
}

.header_container_left{
    padding-bottom: 0.5rem;
    display: block;
}

.header_left{
    padding-top: 0.6rem;
}

.container_filters{
    margin-top: 1.3rem;
    border-radius: 25px;
}

.container_filters select{
    box-shadow: 5px 5px 5px 0.5px rgba(0,0,0,0.4);
    background-color: #25b687;
}

.container_filters select:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.container_filters select:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header_right{
    margin: 0.5rem 6%;
}

.button_add_dog{
    width: 100%;
    background: none;
    padding: 0.6rem 0.6rem;
    border: 0.1rem solid #25b687;
    outline: 0.1rem solid #25b687;

    box-shadow: 5px 3px 5px 0.5px rgba(0,0,0,0.6);
}

.button_add_dog:hover{ color: #25b687; }

.button_add_dog::before,
.button_add_dog::after{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.button_add_dog::before{ transform: rotateY(90deg); }
.button_add_dog::after { transform: rotateX(90deg); }

.button_add_dog:hover::before,
.button_add_dog:hover::after{
    transform: rotate(0);
}

.main_container{
    margin: 0 5% 0 5%;
}

.container_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0 2rem 0;
}

.container_card{ /* estilos de carta individual */
    background-color: #25b687;
    overflow: hidden;
    position: relative;
}

.container_card:hover{
    cursor: pointer;
}

.pagination{
    margin-left: 0;
    padding-left: 0;
}