.main_wrapper{
    justify-content: center;
}

.container{
    width: 40%;
}

.button_to_home{
    font-size: 0.9rem; 
    background: none;
    z-index: 100;
    border: 0.1rem solid #25b687;
    background: #25b687;
    margin-bottom: 0.7rem;
}

.button_to_home:hover{ color: #25b687;  }

.button_to_home::before,
.button_to_home::after{
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    transition: transform 0.5s linear;
    z-index: -10;
}

.button_to_home::before{ transform: rotateY(90deg); }
.button_to_home::after{ transform: rotateX(90deg); }

.button_to_home:hover::after,
.button_to_home:hover::before{
    transform: rotate(0);
}


form{
    display: flex;
    justify-content: space-between;
    border: 2px solid #25b687;
    border-radius: 15px;
}

.form input{
    border: none;
    font-size: 1.1rem;
    outline: none;
}

.max_height{
    padding-left: 0.4rem;
}

.max_weight{
    padding-left: 0.4rem;
}

.error_form{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.height_container{
    display: flex;
    flex-direction: row;
}

.weight_container{
    flex-direction: row;
    justify-content: center;
}

.select_temperaments{
    background-color: #25b687;
    border: none;
    color: white;
    box-shadow: 5px 5px 5px 0.5px rgba(0,0,0,0.4);
}

.option_temperament{
    cursor: pointer;
}

.container_temperaments{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 7px;
}

.button_add_dog{
    font-size: 1rem;
    background-color: #25b687;
}

.button_add_dog{
    cursor: pointer;
}


.element_temperament{
    border-radius: 10px;
    margin: 5px 0;
    width: 100%;
    font-weight: bolder;
}

.element_temperament:hover{
    cursor: pointer;
}

.element_temperament::before{
    content: "";
    position: absolute;
}

.element_temperament:hover::before{
    width: 100%;
    text-align: center;
    left: 0%;
    background-color: rgba(153, 153, 153, 0.5);
}